<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <a href="/">CookBook</a>
    </header>

    <main>
      <h1>Contact Us</h1>
    </main>

    <footer>
      <a href="/about">About Us</a>
      |
      <a href="/contact">Contact Us</a>
      |
      <a href="/legal">Fine Print</a>
    </footer>
  </body>
</html>
