<h1>Contacts</h1>

<%= link_to('New Contact', new_contact_path) %>

<ul>
  <% @contacts.each do |contact| %>
    <li>
      <%= link_to(contact.full_name, contact_path(contact)) %>
    </li>
  <% end %>
</ul>
