<h1>Todos</h1>

<%= link_to "New Todo", new_todo_path %>

<% if @todos.any? %>
  <ul id="todos-list">
    <% @todos.each do |todo| %>
      <%= render partial: 'todo', locals: { todo: todo } %>
    <% end %>
  </ul>
<% else %>
  <p>No todos yet!</p>
<% end %>

<%= render partial: 'form' %>
