/* -------------------------------------------------- */
/* HINTS, TIPS, AND TRICKS */
/* -------------------------------------------------- */
/*
- When working from a reference, start by:
	- Identifying the colours.
	- Identifying the fonts/typefaces.
- Write generic styles, then move on to more complex/specific styles.
	- Generic styles include:
		- elements that can be targeted by tag name (eg. 'main')
		- links
		- type elements ('h1', 'p', etc.)
	- Complex/specific styles include:
		- elements that must be targeted by class (eg. '.post')
		- elements that must be targeted using a descendant selector.
- When starting to write responsive styles:
	- Identify the number of layouts.
	- Identify when the layouts change (eg. the 'breakpoints').
	- Test your media queries by making an obvious change to the document, and seeing if it's correctly applied.
- Keep in mind:
	- Preview your CSS in the browser often. Small mistakes can prevent entire stylesheets from being applied.
	- If you're writing a rule that should only be applied when the screen is a certain size, make sure it's inside a media query!
*/

/* -------------------------------------------------- */
/* BOILERPLATE STYLES */
/* -------------------------------------------------- */
*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}


/* -------------------------------------------------- */
/* BASE STYLES */
/* -------------------------------------------------- */


body {
	background-color: #eee;
	color: #222;
	font-family: georgia, 'times new roman', serif;
	font-size: 1.125em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: helvetica, arial, sans-serif;
}

p {
	line-height: 1.5;
}

img {
	max-width: 100%;
}

/* -------------------------------------------------- */
/* HEADER STYLES */
/* -------------------------------------------------- */

.brand {
	text-align: center;
	font-size: 1em;
}

.brand-main {
	font-size: 1.5em;
	color: darkslateblue;
}

.brand-supporting {
	display: none;
}

.post div {
	padding: 1em;
}


/* -------------------------------------------------- */
/* MAIN STYLES */
/* -------------------------------------------------- */

.intro {
	display: none;
}

.post h2 {
	font-size: 2em;
}

.post h2 a {
	color: darkslateblue;
	text-decoration: none;
}


/* -------------------------------------------------- */
/* FOOTER STYLES */
/* -------------------------------------------------- */








/* -------------------------------------------------- */
/* MEDIA QUERIES!!!! */
/* -------------------------------------------------- */

@media screen and (min-width: 720px) {


	.brand {
		text-align: left;
		padding: 0 1em;
	}

	.brand-supporting {
		display: inline-block;
		color: #999;
	}


	.post-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1em;
		padding: 0 1em;
	}

	.post {
		background-color: #fff;
		border: 1px solid #ccc;
	}


}


@media screen and (min-width: 1000px) {

	.intro {
		display: block;
	}

	.post-wrapper {
		grid-template-columns: 1fr 1fr 1fr;
	}

}








/* the end */
